@{ 
    ViewData["Title"] = "completebooking";
}




<div id="tab-content4" class="contents">
    <div id="at4" class="tabcontent make_payment">
        <h5>Pay Secuerly with Helperland Payment Gateway! </h5>
        <br>
        <label>Promo code (Optional)</label>
        <br>
        <div>

            <input placeholder="Promo code (Optional)" class="inline promobox">
            <button type="submit" class="apply-btn btn rounded-pill inline">Apply</button>

        </div>
        <hr>
        <input type="checkbox" id="pay-tnc"> I accepted terms and conditions, the cancellation policy and the privacy
        policy. I confirm that Helperland starts to execute the contract before the expiry of the withdrawal
        period and I lose my right of withdrawal as a consumer with full performance of the contract.
        <hr>
        <button class="donebook btn rounded-pill" type="button" onclick="completeBookService()" id="complete-booking">
            Complete Booking
        </button>
    </div>
</div>
