@model Help.ViewModels.Setupservice 

@{
    ViewData["Title"] = "setupservice";
}

<div id="tab-content1" class="contents">
  
    <form id="form1">
        <label for="ZipCode" class="zipcode-label">Please Enter Your ZipCode:</label><br>
        <div class="zipcode-input">
            <input type="text" id="ZipCode" placeholder="Zip Code" asp-for="ZipCode">
            <input type="button" id="zipcode-search" class="zipcode-search rounded-pill" value="Check Availability" disabled="disabled" onclick="SearchZipCode()">
        </div>
    </form>

</div>