@{
    ViewData["Title"] = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="~/css/service_history.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.js" defer></script>
    <script src="~/js/customerpg.js"></script>

    <title>Service History</title>

</head>

<body>


    <!--Navigation Bar-->
    <nav class="navbar  navbar-expand-lg">
        <div class="container-fluid navbar_div">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                <img src="~/Images/logo-small.png" alt="Helperland">
            </a>

            <div class="d-block d-lg-none ms-auto d-inline-flex hidden-navbar">
                <a class="response-icon" href="#"><img src="~/Images/icon-notification.png" alt="notify-bell"></a>
                <ul class="dropdown dropdown-s">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img class="user-icon-1" src="~/Images/admin-user.png" alt="user-icon">
                        <img src="~/Images/sp-arrow-down.png" alt="down-arrow">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item">Warm Welcome,<br><span class="user-name"> @TempData["UserName"]</span></li>
                        <div class="dropdown-divider"></div>
                        <li>
                            <a class="dropdown-item" href="#">
                                To Overview
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="MySetting()">
                                My Settings
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-action="Logout" asp-controller="UserManage">
                                Log Out
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>



            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation" style="font-size:20px;outline: none !important;box-shadow: none;">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars"></i>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-end">

                    <li class="nav-item nav-options">
                        <a class="btn rounded-pill book-btn" type="button" asp-action="BookService" asp-controller="ServiceManage">Book Now</a>
                    </li>
                    <li class="nav-item nav-options price-link"><a class="nav-link" asp-action="Prices" asp-controller="Home">Prices & Services</a></li>
                    <li class="nav-item nav-options"><a class="nav-link" href="#">Warranty</a></li>
                    <li class="nav-item nav-options"><a class="nav-link" href="#">Blog</a></li>
                    <li class="nav-item nav-options"><a class="nav-link" asp-action="Contact" asp-controller="Home">Contanct us</a></li>

                    <div class="vl-1 d-none d-lg-block"></div>
                    <a class="notify d-none d-lg-block" href="#">
                        <img src="~/Images/icon-notification.png"
                             alt="notify-bell">
                    </a>
                    <div class="vl-2 d-none d-lg-block"></div>

                    <li class="nav-item dropdown d-none d-lg-block dropdown-l">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="user-icon" src="~/Images/admin-user.png" alt="user-icon">
                            <img src="~/Images/sp-arrow-down.png" alt="down-arrow">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item">Warm Welcome,<br><span class="user-name"> @TempData["UserName"]</span></li>
                            <div class="dropdown-divider"></div>
                            <li>
                                <a class="dropdown-item" href="#">
                                    To Overview
                                </a>
                            </li>
                            <li id="set1">
                                <a class="dropdown-item"  onclick="MySetting()">
                                    My Settings
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-action="Logout" asp-controller="UserManage">
                                    Log Out
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!--
                    <li class="d-block d-lg-none nav-divider">
                        <hr>
                    </li>

                    <li class="nav-item nav-options d-block d-lg-none navBtnli" id="tab1">
                        <a class="nav-btn" onclick="Tab1Nav()">
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item nav-options d-block d-lg-none navBtnli" id="tab2">
                        <a class="nav-btn" onclick="Tab2Nav()">
                            Service History
                        </a>
                    </li>
                    <li class="nav-item nav-options d-block d-lg-none navBtnli">
                        <a class="nav-btn" href="#">
                            Service Schedule
                        </a>
                    </li>
                    <li class="nav-item nav-options d-block d-lg-none navBtnli">
                        <a class="nav-btn" href="#">
                            Favourite Pros
                        </a>
                    </li>
                    <li class="nav-item nav-options d-block d-lg-none navBtnli">
                        <a class="nav-btn" href="#">
                            Invoices
                        </a>
                    </li>
                    <li class="nav-item nav-options d-block d-lg-none navBtnli">
                        <a class="nav-btn" href="#">
                            Notifications
                        </a>
                    </li>-->


                </ul>
            </div>
        </div>
    </nav>




    <!--Greeting Header-->
    <section class="container-fluid d-flex justify-content-center greet-header">
        <h2>Welcome,<span class="greet_user"> @TempData["UserName"]</span></h2>
    </section>




    <!--Content-->
    <div class="row  service-content justify-content-center">

        <div class="col-md-2   service-sidebar  d-none d-lg-block" id="service-sidebar">
            <button class="sidebar-list container-fluid active" onclick="Tab1Click()" id="dashboardBtn">
                Dashboard
            </button>
            <button class="sidebar-list  container-fluid" onclick="Tab2Click()" id="historyBtn">
                Service History
            </button>
            <button class="sidebar-list  container-fluid" href="#" id="scheduleBtn">
                Service Schedule
            </button>
            <button class="sidebar-list  container-fluid" href="#" id="favproBtn">
                Favourite Pros
            </button>
            <button class="sidebar-list  container-fluid" href="#" id="invoiceBtn">
                Invoices
            </button>
            <button class="sidebar-list  container-fluid" href="#" id="notifyBtn">
                Notifications
            </button>
        </div>


        
            <!--Service History Table-->

            @await Html.PartialAsync("CustomerDashboard")

            <!------------------------------------------------------------------------->
            <!--Dashboard Table-->

            @await Html.PartialAsync("CustomerHistory")

            <!------------------------------------------------------------------------->

           @await Html.PartialAsync("CustomerSetting")
        
    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>