<div class="col-md-7 my-setting">


    <div class="container-fluid setting-tabs">

        <a class="setting-tab container-fluid" id="MyDetails" href="#" onclick="settingTab1()">
            My Details
        </a>
        <a class="setting-tab  container-fluid" id="MyAddress" href="#" onclick="settingTab2()">
            My Addresses
        </a>
        <a class="setting-tab  container-fluid" id="change-pass" href="#" onclick="settingTab3()">
            Change Password
        </a>



    </div>

    <div class="tabcontent" id="tab1">

        <form class="row g-3" id="form1">
            <div class="row detail-info">
                <div class="col-md-4 detail-inputs">
                    <label for="detail-fname" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="detail-fname">
                </div>
                <div class="col-md-4 detail-inputs">
                    <label for="detail-lname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="detail-lname">
                </div>
                <div class="col-md-4 detail-inputs">
                    <label for="detail-email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="detail-email">
                </div>
                <div class="col-md-4 detail-inputs">
                    <label for="detail-mobile" class="form-label">Mobile Number</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">+91</span>
                        <input type="number" class="form-control" id="detail-mobile"
                               aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col-md-4 detail-inputs">
                    <label for="detail-dob" class="form-label">Date Of Birth</label>
                    <input type="text" class="form-control" id="detail-dob">
                </div>
            </div>
            <hr class="form1-divide">
            <div class="col-md-3 detail-selectlang">
                <label for="detail-lang" class="form-label">Preferred Language</label>
                <select id="detail-lang" class="form-select">
                    <option selected>English</option>
                    <option>Hindi</option>
                    <option>German</option>
                </select>
            </div>


            <div class="col-12 detail-saveBtn">
                <button type="submit" class="rounded-pill">Save</button>
            </div>

        </form>

    </div>








    <div class="tabcontent" id="tab2">

        <table class="addressTable">

            <thead>
                <tr>
                    <th class="col-md-5 text-start">
                        Addresses
                    </th>
                    <th class="col-md-2">
                        Action
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="address-details" data-label="Addresses">
                        <div class="addressdetaildiv text-start">
                            <p>
                                <span><strong>Address: </strong></span>&nbsp; <span>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing
                                    elit.
                                </span>
                            </p>
                            <p>
                                <span><strong>Phone Number: </strong></span>&nbsp; <span>9596326589</span>
                            </p>
                        </div>
                    </td>
                    <td data-label="Action">
                        <div class="address-action">


                            <p>
                                <img src="~/Images/star1.png">
                                <img src="~/Images/star1.png">
                            </p>

                        </div>
                    </td>

                </tr>


            </tbody>
        </table>

        <div class="col-12 addAddressBtn">
            <button type="submit" class="rounded-pill">Add New Address</button>
        </div>

    </div>








    <div class="tabcontent" id="tab3">

        <form class="row g-3" id="form3">
            <div class="row">
                <div class="col-md-5 changepass-inputs">
                    <label for="old-password" class="form-label">Old Password</label>
                    <input type="text" class="form-control" id="old-password">
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 changepass-inputs">
                    <label for="new-password" class="form-label">New Password</label>
                    <input type="text" class="form-control" id="new-password">
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 changepass-inputs">
                    <label for="cnfrm-password" class="form-label">Confirm Password</label>
                    <input type="text" class="form-control" id="cnfrm-password">
                </div>
            </div>


            <div class="col-12 changepass-saveBtn">
                <button type="submit" class="rounded-pill">Save</button>
            </div>

        </form>

    </div>





</div>