@model Helperland.ViewModels.ResetPass
@{
    ViewData["Title"] = "Resetpassword";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"  href="~/css/reset-pass.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <title>Create Acc</title>
</head>

<body>


    <!--Navigation Bar-->
    <nav class="navbar  navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand"  asp-action="Index" asp-controller="Home">
                <img src="/Images/logo-large.png" alt="Helperland">
            </a>
            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation" style="color: #81b6c1;font-size:20px;">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars"></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ms-auto  mb-lg-0 align-items-end">
                    <li class="nav-item nav-btn-itmes">
                        <a class="btn rounded-pill nav-btn" type="button">Book Now</a>
                    </li>
                    <li class="nav-item nav-btn-itmes">
                        <a class="btn rounded-pill nav-btn price-btn" type="button" asp-action="Prices" asp-controller="Home">Prices & services</a>
                    </li>
                    <li class="nav-item nav-link-items"><a class="nav-link" href="#">Warranty</a></li>
                    <li class="nav-item nav-link-items"><a class="nav-link" href="#">Blog</a></li>
                    <li class="nav-item nav-link-items"><a class="nav-link" asp-action="Contact" asp-controller="Home">Contact</a></li>
                    <li class="nav-item nav-btn-itmes">
                        <a class="btn rounded-pill nav-btn" type="button">Login</a>
                    </li>
                    <li class="nav-item nav-btn-itmes">
                        <a class="btn rounded-pill nav-btn" type="button" asp-action="BecomePro">Become a Helper</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>



    <div class="touch-heading">
        <h1>Reset Password</h1>
    </div>

    <div class="container-fluid sep_contain">
        <hr class="sep_hr" width="62px" height="1px">
        <img class="separator" src="/Images/separator.png" alt="">
        <hr class="sep_hr" width="62px" height="1px">
    </div>



    <form class="row g-3 resetpass_form justify-content-center" asp-controller="UserManage" asp-action="ResetPassword">

        <input type="hidden" asp-for="userID" value=@TempData["id"]>
        <div class="col-md-8 col-sm-12">
            <label class="form_label" for="inputPassword">Enter New Password</label>
            <input type="password" class="form-control" id="inputPassword" asp-for="newPassword">
            <span asp-validation-for="newPassword" class="text-danger" style="font-size: 12px"></span>
        </div>
        <div class="col-md-8 col-sm-12">
            <label class="form_label" for="inputPasswordCnfrm">Confirm New Password</label>
            <input type="password" class="form-control" id="inputPasswordCnfrm">
            <span asp-validation-for="CnfrmnewPassword" class="text-danger" style="font-size: 12px"></span>
        </div>
        <div class="col-12">
            <button type="submit" class="btn submit_button rounded-pill">Submit</button>
        </div>

    </form>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>