*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family:'Roboto', sans-serif;
  }








.navbar{
    background-color: #646464;
    height: 56px;
    padding-left: 15px;
    padding-right: 10px ;
}
.navbar-brand img{
    height: 50px;
}
.nav-link{
    font-size: 15px;
    color:#fff;
}
.nav-link:hover{
    color:rgb(52, 213, 175);
    border: transparent;
}
.nav-item{
    font-size:17px;
    padding-left:40px;
}
.nav-options{
    padding-top: 6px;
}
.user-name{
    font-weight: bolder;
}
.vl-1{
    border: 1px solid #E1E1E1;
    height: 56px;
    margin-left: 40px;
}
.vl-2{
    border: 1px solid #E1E1E1;
    height: 56px;
    margin-left: 25px;
}
.notify{
    display: flex;
    justify-content: center;
    margin-left: 25px;
}
.notify img{
    padding-top: 12px;
    
}
.user-icon{
    padding-right:5px;
}
.dropdown-l{
    padding-left: 20px !important;
}
.dropdown-toggle::after {
    content: none !important;
}
.nav-btn{
    border: none;
    background-color: transparent;
    font-size: 15px;
    color:#fff;
    padding-top: +15px;
}
.nav-btn:hover{
    color:rgb(52, 213, 175);
    border: transparent;
}
.nav-divider{
    padding-top: +10px;
}
.nav-divider hr{
    color: white;
    height: 2px;
}






.dropdown-s{
    margin-left: 0%;
    margin-right: +5px;

}
.dropdown-s img{
    padding-top: +11px;
}
.response-icon img{
    padding-top: +13px;
    width: 100%;
    height: auto;
}
.user-icon-1{
    padding-right: 2px;
    width: 70%;
    height: auto;
}







.greet-header{
    background-color: #F9F9F9;
    border-bottom: 1px solid #e9e5e5;
}
.greet-header h2{
    padding-top: 38px;
    padding-bottom: 43px;
    color: #4F4F4F;
}
.greet_user{
    font-weight: bolder;
}







.service-content{
    padding-top: 31px;
    padding-bottom: 39px;
    margin: auto;
}
.service-sidebar{
    background-color: #1D7A8C;
    height: auto ;
    padding: 0%;
}


.sidebar-list{
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #E1E1E1 !important;
    border: none;
    text-align: start;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #1D7A8C; 
    
}
.active, .sidebar-list:hover{
    background-color: #146371;
}





table{
    color: #646464;
    margin-left: 32px;
    border: solid 1px #CCCCCC;
}
thead{
    text-align: center;
    background-color: #F9F9F9;
    height:50px;
    border-bottom: solid 1px #CCCCCC ;
    font-size: 16px;
    font-weight: bolder;
}
tbody{
    text-align: center;
}
tbody tr{
    height:71px;
    font-size: 16px;
    border-bottom: solid 1px #CCCCCC ;
}

.service-date{
    font-weight: bold;
}
.cancel-button{
    width: 80px;
    height: 34px;
    background-color: #FF6B6B;
    color: #FFFFFF;
    border: none;
}
.cancel-button:hover{
    border: solid 1px  #FF6B6B;
    color: #FF6B6B;
    background-color: #FFFFFF;
}
.customer-detail{
    text-align: start !important;
}



















footer{
    background-color: #111111;
    width: 100%;
    color: white;
    min-height: 195px;
  }
  .footer-logo{
      width: 120px;
      height: 92px;
  }
footer .container a {
    text-decoration: none;
    color: #F1F1F1;
    font-size: 14px;
  }
.foot_menu{
    padding-top: 20px;
    max-width: 1350px;
  }
.icons{
padding-top: +15px;
}
.fimg1 {
    width: 9px;
    height: 18px;
    margin-right: 20px;
  }
.fimg2 {
    width: 20px;
    height: 20px;
  }
  
.term_c{
    color: #9BA0A3;
    font-size: 14px;
  }
.term_c a{
      text-decoration: none;
      color: #9BA0A3;
  }
.foot_menulink{
padding-top: +20px;
}











 
@media screen and (max-width: 329px){
    .response-icon{
        margin-right: 0%;
    }
    .response-icon img{
        padding-top: +13px;
        width: 85%;
        height: auto;
    }
    .dropdown-s{
        padding-left: 10%;
        margin-right: -5px;
        padding-top: +1px;
    }
    .user-icon-1{
        padding-right: 2px;
        width: 60%;
        height: auto;
    }
    

}

@media screen and (max-width: 426px){
    .navbar{
        height: auto;
    }
    .navbar-brand img{
        width: 75%;
        height: auto;
    }


    .foot_menulink a{
        padding-top: +5px;
        padding-bottom: +5px;
    }
    .fimg1{
        margin-left: +5px;
    }

    .foot_menu{
        flex-direction: column;
    }
    .foot_menulink{
        flex-direction: column;
    
    }
    .foot_menulink a{
        padding-top: +5px;
        
    }
    .footer-logo{
        width: 25%;
        height: auto;
    }
    
    
    
}
@media screen and (min-width: 427px) and (max-width: 769px){
    .navbar{
        height: auto;
    }
    .navbar-collapse{
        padding-top: +5px;
    }

    .foot_menulink a{
        padding-top: +5px;
        padding-bottom: +5px;
    }
    .fimg1{
        margin-left: +5px;
        margin-bottom: +5px;
    }
    .footer-logo{
        width: 90px;
        height: auto;
    }
    
    }
    
    @media screen and (min-width: 770px) and (max-width: 991px){
        .navbar{
            height: auto;
        }
        .navbar-collapse{
            padding-top: +5px;
        }
    
    }
        
