*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family:'Roboto', sans-serif;
  }




.navbar{
    background-color: #646464;
    padding: 6px 10px;
}
.navbar-brand img{
    width: auto;
    max-height: 50px;
    padding-left: +5px;
}
.nav-link{
    color: #fff ;
}
.nav-link:hover{
    color:#81b6c1;
    border: transparent;
}
.nav-item{
    font-size: 15px;
}
.nav-btn{
    color: white !important;
    background-color: #29626D;
    border: solid 1px white;
}
.price-btn{
    background-color: transparent;
    border: solid 1px white;
}
.nav-btn:hover{
    color: #29626D !important;
    border: solid 1px #29626D;
    background-color: white;
}


.nav-btn-itmes{
    padding-left: 5px;
    padding-right: 5px;
}
.nav-link-items{
    padding-left: 10px;
    padding-right: 15px;
}






.header_banner img{    
    width: 100%;
    height: 370px;      
    background-size: cover;
    margin: 0;         
}




.faq_heading{
    text-align: center;
    padding-top: 32px;
}
.faq_heading h1{
    font-weight: 700;
    color: #4F4F4F;
}

.sep_contain{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 9px;
}
.separator{
    padding-left: 8px;
    padding-right: 8px;
}

.sep_state{
    color: #4F4F4F;
    text-align: center;
    padding-top: 34px;
    font-size: 18px;
}
    





.select_btn {
    padding-top: 50px;
}

.select_btn .row {
	padding: 0 70px;
	max-width: 946px;
	margin: auto;
}

.forCustomer,
.forServiceProvider {
	padding-top: 25px;
	padding-bottom: 25px;
	background: #f6f6f6;
	color: #646464;
    border: none;
	border-bottom: 4px solid #1d7a8c !important;
	font-size: 24px;
    text-align: center;
}

.active {
	background: #1d7a8c !important;
	color: #fff !important;
}







#faqAccordion{
    margin-top: 30px;
    word-wrap: break-word;
    width: 60%;
    height: auto;
    text-align: center;
}
.accordion-btn.collapsed img {
	transform: rotate(90deg);
}

.accordion-btn img {
	transform: rotate(180deg);
	transition: transform 0.4s;
}
.accordion-item{
    border: none;
    padding-top: 20px;
}
.accordion-body{
    text-align: start;
    padding-left: 45px;
    color: #646464;
    font-size: 16px;
}
.question{
    padding-left: 15px;
    padding-top: 5px;
    color: #646464;
    font-size: 16px;
    font-weight: bold;
}









.news_letter{
    margin-top: 55px;
    text-align: center;
}

.head_newsletter{
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 800;
    color: #353548;
    
}
.newsetter{
    border-radius: 55px;
    border:solid .3px #565656;
    height:40px;
    width:235px;
    padding:13px;
    font-size: 13px;
}
.btn-submit{
    background-color:#FF7B6D;
    border-radius: 50px;
    border:none;
    color:white;
    font-weight: normal;
    font-size: 15px;
    width:80px;
    height:40px;
    margin-left:5px;}
.btn-submit:hover{
    background-color:white;
    color:#FF7B6D;
    font-weight: bold;
    border: solid 2px #FF7B6D;
}






/*Footer*/
footer{
    background-color: #111111;
    width: 100%;
    color: white;
    min-height: 195px;
    margin-top: 50px;
  }
  .footer-logo{
      width: 120px;
      height: 92px;
  }
footer .container a {
    text-decoration: none;
    color: #F1F1F1;
    font-size: 14px;
  }
.foot_menu{
    padding-top: 20px;
    max-width: 1350px;
  }
.icons{
padding-top: +15px;
}
.fimg1 {
    width: 9px;
    height: 18px;
    margin-right: 20px;
  }
.fimg2 {
    width: 20px;
    height: 20px;
  }
  
.term_c{
    color: #9BA0A3;
    font-size: 14px;
  }
.term_c a{
      text-decoration: none;
      color: #9BA0A3;
  }
.foot_menulink{
padding-top: +20px;
margin-left: -25px;
}












@media screen and (max-width: 426px){
    .navbar{
        background-color: #646464;
        padding: 5px 2px;
    }
    .nav-btn-itmes{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .header_banner img{    
        height: auto; }
    .faq_heading{
        padding-top: 20px;
    }
    .sep_contain{
        padding-top: 5px;
    }
    .sep_state{
        padding-top: 20px;
        font-size: 14px;
    }
    .forCustomer,
.forServiceProvider {
    padding-bottom: 15px;
    padding-top: 15px;
	font-size: 16px;
    }



    #faqAccordion{
        margin-top: 15px;
        width: 100%;
    }
    .question{
        padding-left: 5px;
        font-size: 14px;
    }
    .accordion-body{
        padding-left: 35px;
        font-size: 14px;
    }
    

    .newsetter{
        margin-bottom: 10px;
    }
    .head_newsletter{
        font-size: 16px; 
    }
    .newsetter{
        width:200px;
        font-size: 13px;
    }
    .btn-submit{
        font-size: 14px;
        width:60px;
    }



    .foot_menulink a{
        padding-top: +5px;
        padding-bottom: +5px;
    }
    .fimg1{
        margin-left: +5px;
    }

    .foot_menu{
        flex-direction: column;
    }
    .foot_menulink{
        flex-direction: column;
        margin-left: +5px;
    
    }
    .foot_menulink a{
        padding-top: +5px;
        
    }
    .footer-logo{
        width: 25%;
        height: auto;
    }
}

@media screen and (min-width:426px) and (max-width:769px){
    .navbar{
        background-color: #646464;
        padding: 5px 4px;
    }
    .nav-btn-itmes{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 4px;
    }
    .header_banner img{    
        height: auto; }
    .sep_state{
        padding-top: 20px;
    }
    .select_btn {
        padding-top: 30px;
    }

    #faqAccordion{
        margin-top: 20px;
        width: 100%;
    }
    .question{
        padding-left: 5px;
    }
    .accordion-item{
        padding-top: 10px;
    }
    .accordion-body{
        padding-left: 30px;
        
    }

    .foot_menulink a{
        padding-top: +5px;
        padding-bottom: +5px;
    }
    .fimg1{
        margin-left: +5px;
        margin-bottom: +5px;
    }
    .footer-logo{
        width: 90px;
        height: auto;
    }
}

@media screen and (min-width:769px) and (max-width:1025px){
    .navbar{
        background-color: #646464;
        padding: 5px 4px;
    }
    .nav-btn-itmes{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 4px;
    }
    .nav-link-items{
        padding-bottom: +3px;
    }
    .header_banner img{    
        height: auto; }
     #faqAccordion{
            width: 90%;
     }
}