#faqnav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #757575;
    padding: 0 !important;
    /* font-size: 0.7rem!important; */
}

    #faqnav .nav-item {
        margin: auto 0;
    }

        #faqnav .nav-item .rounded-pill {
            border: 1px solid #FFFFFF80;
            font-size: 17px;
            line-height: 40px;
            padding: 0 20px;
            margin: auto 5px;
            color: white;
        }

.navcol {
    color: white;
}

    .navcol:hover {
        color: white;
    }


#logo-faq {
    height: 54px;
    margin: 6px 0 4px 15px;
}

.greenlink {
    background-color: #29626D;
    color: white;
}

#banner {
    width: 100%;
}

hr {
    display: inline-block;
    width: 62px;
    height: 1px !important;
    color: #CCCCCC !important;
}

.tit {
    color: #4f4f4f;
}

.sepdiv {
    display: inline;
}

.fm {
    margin-left: auto;
    margin-right: auto;
    display: block;
}



.separator {
    margin: 0 9px;
}

.faqbtn {
    margin-top: 40px;
}

#faq-main {
    width: 946px;
    color: #646464;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

    #faq-main .nav-link {
        border-radius: 0;
        background-color: #F6F6F6;
    }

.faq-btns {
    color: #646464;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 66px !important;
    font-size: 17px !important;
    border-bottom: 3px solid #1D7A8C !important;
}

    .faq-btns:hover {
        color: #646464;
    }

#faq-main li .active {
    color: white;
    background-color: #1D7A8C;
}

.faq-qa {
    margin: 40px 0 0;
    display: flex;
}

.faq-q1 {
    font-size: 16px;
    color: #565656;
}

.faq-qa b {
    margin-left: 15px;
}

.faq-ans {
    text-align: justify;
    padding: 20px 20px 0;
    margin-left: 20px;
}

.f {
    display: flex;
}


/* ------------------- news letter ------------------- */
#news {
    margin: 25px 0 55px;
}

    #news h4 {
        font-size: 18px !important;
        margin-bottom: 16px !important;
    }

    #news input {
        font-size: 14px !important;
    }

    #news .email {
        background-color: #F4F5F8 !important;
        border: 1px solid #565656 !important;
        padding-left: 22px !important;
        line-height: 40px;
        width: 233px;
        margin-right: 11px;
    }

    #news .submit-btn {
        background-color: #ff7b6d;
        color: #ffffff;
        padding: 0 22px;
        line-height: 40px;
        border: 0;
    }

footer {
    margin-top: 53px;
    padding: 20px 123px 26px 115px;
    background: #111111;
}

    footer hr {
        display: block;
        height: 1px;
        background: #424242;
        margin: 19px 0 25px 0;
        width: 100%;
    }

.ftn {
    color: white;
    display: block;
    text-decoration: none;
}

    .ftn:hover {
        color: white;
    }

.tnc {
    color: #9ba0a3;
}

    .tnc:hover {
        color: #9ba0a3;
    }

@media screen and (max-width:1026px) {
    #faqnav .nav-item .rounded-pill {
        padding: 12px;
        line-height: 28px;
    }

    .nav-pills .nav-item {
        padding: 0 !important;
    }

    #faq-main {
        width: 80%;
        color: #646464;
    }
}

@media screen and (max-width:991px) {
    #faq-nav {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

        #faq-nav .nav-item {
            margin: 10px;
            text-align: center;
            width: 50vw;
        }

    #faq-footer {
        justify-content: center !important;
    }

    #faq-footer-links {
        margin: 15px 0;
    }
}

@media screen and (max-width:767px) {

    #faq-nav .nav-item {
        width: 50vw;
    }

    #faqfooter {
        margin: 0 !important;
        padding: 0 !important;
    }

    .footerborder {
        justify-content: center !important;
    }

    #faq-footer-links a {
        font-size: 14px;
        width: 90vw;
    }

    #faq-footer-links {
        margin: 15px;
    }

    #faq-main {
        width: 90%;
        color: #646464;
    }
}

@media screen and (max-width:413px) {
    #faq-customer-btn {
        line-height: 100px !important;
    }

    #faq_service_btn {
        line-height: 50px !important;
    }

    #faq-nav .nav-item {
        width: 70vw;
    }
}

.ic {
    background-color: white;
}
