.error {
    margin-top: 5px;
    color: red;
    width: 100%;
    font-size: 14px;
}

/*Forgot password modal*/
.fgpass-title{
    color: #1D7A8C;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 5px;
}
.fgpass-mail{
    padding-left: 20px;
    padding-right: 20px;
}
.fgpass-mail input{
    padding: 10px 10px;
}
.fgpass-btn{
    text-align: center;
    margin-top: 20px;
}
.fgpass-btn button{
    background-color: #1D7A8C;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 35%;
}
.fgpass-btn button:hover{
    background-color:  #fff;
    color: #1D7A8C;
    border:solid 1px  #1D7A8C;
    transition: 0.5s;
}
.fg-login{
    text-align: center;
    margin-top: 25px;
}
.fg-login a{
    color: #1D7A8C;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}