.error {
    margin-top: 5px;
    color: red;
    width: 100%;
    font-size: 14px;
}

/*Login Modal*/

.modal-header {
    border: none;
}

.login-title {
    color: #1D7A8C;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 10px;
}

.login-mail {
    padding: 10px 20px;
}

    .login-mail input {
        padding: 10px 10px;
        background: url("~/Images/email-icon.png") no-repeat right;
        background-size: 20px;
    }

.login-pass {
    padding: 10px 20px;
}

    .login-pass input {
        padding: 10px 10px;
        background: url("~/Images/lock.png") no-repeat right;
        background-size: 20px;
    }

.rem-me {
    color: #1D7A8C;
    margin-left: 20px;
    margin-top: 10px;
}

.login-btn {
    text-align: center;
    margin-top: 20px;
}

    .login-btn button {
        background-color: #1D7A8C;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        width: 35%;
    }

        .login-btn button:hover {
            background-color: #fff;
            color: #1D7A8C;
            border: solid 1px #1D7A8C;
            transition: 0.5s;
        }

.modal-footer {
    text-align: center;
}

.forgot-pass {
    text-align: center;
    margin-top: 7px;
}

.forgot-pass-link {
    color: #1D7A8C;
    text-decoration: none;
    font-size: 14px;
}

    .forgot-pass-link:hover {
        text-decoration: none;
    }

.create-acc {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    padding-bottom: 20px;
}

    .create-acc span {
        color: #4F4F4F;
        margin-right: 5px;
    }

.create-acc-link {
    color: #1D7A8C;
    text-decoration: none;
}

    .create-acc-link:hover {
        text-decoration: none;
    }


    @media screen and (max-width: 426px){
        .button{
            padding-right: 5px;
        }
    
        .login-button{
            padding-right: 15px;
            padding-bottom: 10px;
        }
    }

    @media screen and (min-width:426px) and (max-width:769px){
        .button{
            padding-top: 0%;
            padding-right: 5px;
        }
    
        .login-button{
            padding-right: 15px;
            padding-bottom: 10px;
        }
    }

    @media screen and (min-width:769px) and (max-width:992px){
        .button{
            padding-top: 0%;
            padding-right: 5px;
        }
    
        .login-button{
            padding-right: 15px;
            padding-bottom: 10px;
        }
    }

    