*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family:'Roboto', sans-serif;
  }




.navbar{
    background-color: #646464;
    padding: 6px 10px;
}
.navbar-brand img{
    width: auto;
    max-height: 50px;
    padding-left: +5px;
}
.nav-link{
    color: #fff ;
}
.nav-link:hover{
    color:#81b6c1;
    border: transparent;
}
.nav-item{
    font-size: 15px;
}
.nav-btn{
    color: white;
    background-color: #29626D;
    border: solid 1px white;
}
.price-btn{
    background-color: transparent;
    border: solid 1px white;
}
.nav-btn:hover{
    color: #29626D !important;
    border: solid 1px #29626D;
    background-color: white;
}
.nav-btn-itmes{
    padding-left: 5px;
    padding-right: 5px;
}
.nav-link-items{
    padding-left: 10px;
    padding-right: 15px;
}






.header_banner img{    
    width: 100%;
    height: 370px;      
    background-size: cover;
    margin: 0;         
}







.faq_heading{
    text-align: center;
    padding-top: 32px;
}
.faq_heading p{
    font-weight: 700;
    color: #4F4F4F;
    font-size: 36px;
}



.sep_contain{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-top: 9px;
}
.separator{
    padding-left: 8px;
    padding-right: 8px;
}

.sep_state{
    color: #4F4F4F;
    text-align: center;
    padding-top: 34px;
    font-size: 18px;
}

.main-card{
    margin-top: 42px !important;
    width:35%;
    height: auto;
    border: solid 1px #B0C9CE;
    margin: auto;
}
.main-card-title{
    padding-bottom: 13px;
    padding-top: 12px;
    background-color: #1D7A8C;
    color: white;
    font-size: 28px;
    font-weight: bold;
}
.card-price{
    color: #646464;
    margin-top: 18px;
}
.rate{
    font-size: 48px;
    font-weight: bold;
}
.price-unit{
    font-size: 30px;
}
.feat-list{
    padding-top: 30px;
    margin: auto;
}
.feat-list ul{
    list-style: none;
    font-size: 16px;
    color: #646464;
    text-align: left !important;
}
.feat-list li{
    padding-bottom: 25px;
}
.feat-list img{
    width: 12%;
    height: auto;
    padding-right: 5px;
}



.sep-hr2{
    width: 65%;
    margin-top: 50px !important;
    margin: auto;
}


.xt-service_heading{
    text-align: center;
    padding-top: 41px;
}
.xt-service_heading p{
    font-size: 36px;
    font-weight: 700;
    color: #4F4F4F;
}




.services{
    margin-top: 40px;
    margin-left: +30px;
}
.service {
	margin-left: 60px;
    margin-right: 50px;
}

.serviceImage {
	border: 1px solid #b0c9ce;
	width: 108px;
	height: 108px;
	margin: auto;
}

.serviceText {
	font-size: 16px;
	margin: 17px 0 9px;
	color: #646464;
}

.serviceTime {
	font-size: 18px;
	color: #1d7a8c;
	font-weight: bold;
}



.cleaning-service{
    margin-top: 56px;
    background-color: #F6F6F6;
    padding-bottom: 80px;
}
.cleaning-heading{
    text-align: center;
    padding-top: 75px;
}
.cleaning-heading p{
    font-weight: 700;
    color: #4F4F4F;
    font-size: 36px;
}



.cleaning-card{
    margin-top: 45px;
}
.card{
    background-color: #F6F6F6;
    border: none;
}
.card-img-top{
    width: auto;
}
.clean-card-list{
    margin-left: 0%;
    padding-left: 0%;
    list-style: none;
    color: #4F4F4F;
    font-weight: 16px;
}
.clean-card-title{
    color: #4F4F4F;
    font-size: 20px;
    font-weight: bold;
}
.clean-card-list li{
    padding-bottom: 15px;
}
.clean-card-list li img{
    width: 28px;
    padding-right: 9px;
}




.helperland-heading{
    text-align: center;
    padding-top: 71px;
}
.helperland-heading p{
    font-weight: 700;
    color: #4F4F4F;
    font-size: 36px;
}



.whyDescription{
    margin-top: 42px ;
}
.whyDescriptionItem {
	max-width: 337px;
}
.whyDescriptionItemHeader {
	font-size: 20px;
	font-weight: bold;
	color: #646464;
	margin-bottom: 9px;
}

.whyDescriptionItemText {
	font-size: 14px;
	color: #646464;
	margin-bottom: 47px;
}





.news_letter{
    margin-top: 70px;
    text-align: center;
    display: inline-flex;
    justify-content: space-between;
    padding: 0px 70px;
}

.head_newsletter{
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 800;
    color: #353548;
    
}
.newsetter{
    border-radius: 55px;
    border:solid .3px #565656;
    height:40px;
    width:235px;
    padding:13px;
    font-size: 13px;
}
.btn-submit{
    background-color:#FF7B6D;
    border-radius: 50px;
    border:none;
    color:white;
    font-weight: normal;
    font-size: 15px;
    width:80px;
    height:40px;
    margin-left:5px;}
.btn-submit:hover{
    background-color:white;
    color:#FF7B6D;
    font-weight: bold;
    border: solid 2px #FF7B6D;
}
.chat{
    padding-top: +10px;
}
.up-arrow{
    padding-top: +20px;
}
.up-arrow img{
    width: 48px;
    height: 50px;
}








footer{
    background-color: #111111;
    width: 100%;
    color: white;
    min-height: 195px;
    margin-top: 55px;
  }
  .footer-logo{
      width: 120px;
      height: 92px;
  }
footer .container a {
    text-decoration: none;
    color: #F1F1F1;
    font-size: 14px;
  }
.foot_menu{
    padding-top: 20px;
    max-width: 1350px;
  }
.icons{
padding-top: +15px;
}
.fimg1 {
    width: 9px;
    height: 18px;
    margin-right: 20px;
  }
.fimg2 {
    width: 20px;
    height: 20px;
  }
  
.term_c{
    color: #9BA0A3;
    font-size: 14px;
  }
.term_c a{
      text-decoration: none;
      color: #9BA0A3;
  }
.foot_menulink{
padding-top: +20px;
margin-left: -25px;
}





@media screen and (max-width: 426px){
    .navbar{
        background-color: #646464;
        padding: 5px 2px;
    }
    .nav-btn-itmes{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .header_banner img{    
        height: auto; 
    }
    .faq_heading{
        padding-top: 20px;
    }
    .sep_contain{
        padding-top: 5px;
    }
    .sep_state{
        padding-top: 20px;
        font-size: 14px;
    }
    
    .main-card{
    width:80%;
    height: auto;
    }
    .main-card-title{
    padding-bottom: 11px;
    padding-top: 10px;
    font-size: 20px;
    }
    .card-price{
    margin-top: 13px;
    }
    .rate{
    font-size: 38px;
    }
    .price-unit{
    font-size: 20px;
    }
    .feat-list{
    padding-top: 10px;
    }
    .feat-list ul{
        font-size: 14px;
    }
    .feat-list li{
    padding-bottom: 15px;
    }
    .feat-list img{
    width: 10%;
    }


    .sep-hr2{
        width: 85%;
        margin-top: 40px !important
    }

    .xt-service_heading{
        padding-top: 25px;
    }

    .services{
        margin-top: 20px;
        margin-left: -10px;
    }
    .service {
        margin-top: 35px;
    }



    .cleaning-service{
        padding-bottom: 60px;
    }
    .cleaning-heading p{
        font-size: 30px;
    }
    .cleaning-card{
        margin-top: 30px;
    }
    .card{
        margin-top: 30px;
        width: 100%;
    }

    .whyDescription{
        flex-direction: column;
    }
    .whyDescriptionItem {
        width: auto;
        margin: auto;
        padding: 0%;
    }
    .whyDescriptionItemHeader {
        font-size: 18px;
    }
    
    .whyDescriptionItemText {
        font-size: 12px;
    }
    



    .news_letter{
        margin-top: -2px;
        padding: 0%;
    }
    .up-arrow{
        display: none;
    }
    .news_letter{
        display: flex;
        flex-direction: column-reverse;
    }
    .chat{
        margin-bottom: 20px;
    }
    .chat img{
        width: 15%;
    }
    .newsetter{
        margin-bottom: 10px;
    }





    .foot_menulink a{
        padding-top: +5px;
        padding-bottom: +5px;
    }
    .fimg1{
        margin-left: +5px;
    }

    .foot_menu{
        flex-direction: column;
    }
    .foot_menulink{
        flex-direction: column;
        margin-left: +5px;
    
    }
    .foot_menulink a{
        padding-top: +5px;
        
    }
    .footer-logo{
        width: 25%;
        height: auto;
    }

}


@media screen and (min-width:426px) and (max-width:769px){
    .navbar{
        background-color: #646464;
        padding: 5px 4px;
    }
    .nav-btn-itmes{
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 4px;
    }
    .header_banner img{    
        height: auto; 
    }


    .sep_state{
        padding-top: 20px;
    }



    .main-card{
        width:60%;
        height: auto;
    }
    .main-card-title{
        padding-bottom: 12px;
        padding-top: 11px;
        font-size: 26px;
    }
    .card-price{
        margin-top: 13px;
    }
    .rate{
        font-size: 42px;
    }
    .price-unit{
        font-size: 26px;
    }
    .feat-list{
        padding-top: 10px;
    }
    .feat-list ul{
        font-size: 18px;
    }  
    .feat-list img{
        width: 10%;
    }
    .sep-hr2{
        width: 85%;
        margin-top: 40px !important
    }

    .xt-service_heading{
        padding-top: 35px;
    }


    .services{
        margin-top: 20px;
        margin-left: -10px;
    }
    .service {
        margin-top: 30px;
    }


    .cleaning-heading p{
        font-size: 28px;
    }
    .card{
        width: 100%;
    }
    .clean-card-list li img{
        width: 28px;
    }


    .whyDescription{
        flex-direction: column;
    }
    .whyDescriptionItem {
        width: auto;
        margin: auto;
        padding: 0%;
    }
    .whyDescriptionItemHeader {
        font-size: 24px;
    }
    
    .whyDescriptionItemText {
        font-size: 16px;
    }


    .news_letter{
        padding: 0%;
    }
    .newsetter{
        margin-bottom: 10px;
    }
    .up-arrow{
        padding-top: 30px;
    }
    .up-arrow img{
        padding-left: +5px;
    }
    .chat{
        padding-top: 30px;
    }
    .chat img{
        width: 90%;
    }



    .foot_menulink a{
        padding-top: +5px;
        padding-bottom: +5px;
    }
    .fimg1{
        margin-left: +5px;
        margin-bottom: +5px;
    }
    .footer-logo{
        width: 90px;
        height: auto;
    }
}



@media screen and (min-width:769px) and (max-width:1025px){
        .navbar{
            background-color: #646464;
            padding: 5px 4px;
        }
        .nav-btn-itmes{
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 4px;
        }
        .nav-link-items{
            padding-bottom: +3px;
        }
        .header_banner img{    
            height: auto; 
        }

        .main-card{
            width:50%;
            height: auto;
        }
        .rate{
            font-size: 46px;
        }
        .price-unit{
            font-size: 30px;
        }
        .feat-list{
            padding-top: 15px;
        }
        .feat-list ul{
            font-size: 18px;
        }  
        .feat-list img{
            width: 10%;
        }
        .sep-hr2{
            width: 70%;
        }
        .service {
            margin-top: 30px;
        }
        .whyDescriptionItem {
            padding: 0px 10px;
        }
    }
