<div class="right-content" id="ServRequestSection">
    <div class="title-content">
        <div class="content-header">
            <p>Service Requests</p>
        </div>
    </div>





    <div class="search-form">
        <form action="#">

            <input type="text" class="form-control service-id" placeholder="Service ID" id="ServReqServId">

            <input type="text" class="Cust-Name" id="ServReqCustName" placeholder="Customer">

            <input type="text" class="SP-Name" id="ServReqSPName" placeholder="Provider">

            <select class="form-select" id="ServReqStatus">
                <option selected class="disabled" value=null>Status</option>
                <option value="3">Completed</option>
                <option value="4">Cancelled</option>
                <option value="2">Pending</option>
                <option value="1">New</option>
            </select>

            <div class="input-group date">
                <!--span class="input-group-text">
                    <img src="~/Images/admin-calendar-blue.png" alt="calender">
                </span-->
                <input type="date" class="form-control" placeholder="From Date" id="ServReqFromDate" style="color: #A0A0A0">
            </div>
            <div class="input-group date">
                <!--span class="input-group-text">
                    <img src="~/Images/admin-calendar-blue.png" alt="calender">
                </span-->
                <input type="date" class="form-control" placeholder="To Date" id="ServReqToDate" style="color: #A0A0A0">
            </div>

            <a class="search-btn" id="ServReqSubmit"><span>Search</span></a>
            <button class="clear-btn" id="ServReqClear" type="reset"><span>Clear</span></button>
        </form>
    </div>



    <div class="table-container">
        <table class="status-table" id="AdminSRTable">
            <thead>
                <tr>
                    <th class="serv-table-id">
                        Service ID
                    </th>
                    <th class="serv-table-date">
                        Service Date
                    </th>
                    <th class="customer-info">
                        Customer Details
                    </th>
                    <th class="service-pro">
                        Service Provider
                    </th>
                    <th class="service-status">
                        User Status
                    </th>
                    <th class="action-control">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody id="ServReqTbody">
                <tr>
                    <td>
                        323436
                    </td>
                    <td>
                        <p>
                            <img src="~/Images/calendar2.png"> <span class="service-date">09/04/2018</span>
                        </p>
                        <p>
                            <img src="~/Images/layer-14.png"> 12:00 - 18:00
                        </p>
                    </td>
                    <td>
                        <div class="customer-detail">
                            <p class="detail-para">
                                David Bough
                            </p>
                            <p>
                                <img src="~/Images/layer-15.png"> Musterstrabe 5,12345 Bonn
                            </p>
                        </div>
                    </td>
                    <td>
                    </td>
                    <td>
                        <div class="new-status">
                            New
                        </div>
                    </td>
                    <td>
                        <ul class="dropdown">
                            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/Images/group-38.png" alt="dropdown">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Edit & Reschedule
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Refund
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Cancel
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Change SP
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Escalate
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        History Log
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Download Invoice
                                    </a>
                                </li>
                            </ul>
                        </ul>
                    </td>

                </tr>


                <tr>
                    <td>
                        323437
                    </td>
                    <td>
                        <p>
                            <img src="~/Images/calendar2.png"> <span class="service-date">09/04/2018</span>
                        </p>
                        <p>
                            <img src="~/Images/layer-14.png"> 12:00 - 18:00
                        </p>
                    </td>
                    <td>
                        <div class="customer-detail">
                            <p>
                                David Bough
                            </p>
                            <p>
                                <img src="~/Images/layer-15.png"> Musterstrabe 5,12345 Bonn
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="pro_info">
                            <div class="cap-icon">
                                <img src="~/Images/forma-1-copy-19.png">
                            </div>
                            <div class="pro-name">
                                <p>Lyum Watson</p>
                                <p>
                                    <img src="~/Images/star1.png">
                                    <img src="~/Images/star1.png">
                                    <img src="~/Images/star1.png">
                                    <img src="~/Images/star1.png">
                                    <img src="~/Images/star2.png">
                                    4
                                </p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="complete-status">
                            Complete
                        </div>
                    </td>
                    <td>
                        <ul class="dropdown">
                            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/Images/group-38.png" alt="dropdown">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <li>
                                    <a class="dropdown-item" href="#">
                                        Edit & Reschedule
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Refund
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Cancel
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Change SP
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Escalate
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        History Log
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Download Invoice
                                    </a>
                                </li>
                            </ul>
                        </ul>
                    </td>

                </tr>



            </tbody>
        </table>


        <div class="page-control">
            <div class="page-control-left">
                <p>Show</p>
                <select name="entries" id="entries">
                    <option value="10">10</option>
                    <option value="10">9</option>
                    <option value="10">8</option>
                    <option value="10">7</option>
                    <option value="10">6</option>
                    <option value="10">5</option>
                    <option value="10">4</option>
                    <option value="10">3</option>
                </select>
                <p>entries</p>
            </div>

            <div class="page-control-right" id="pg-right">



                <a href=# class="page-btn"><img src="~/Images/polygon-1-copy-5.png" alt="previous page"></a>


                <a href=# class="page-btn page-no active-2">
                    <p>1</p>
                </a>


                <a href=# class="page-btn page-no">
                    <p>2</p>
                </a>


                <a href=# class="page-btn page-no">
                    <p>3</p>
                </a>


                <a href=# class="page-btn page-no">
                    <p>4</p>
                </a>


                <a href=# class="page-btn page-no">
                    <p>5</p>
                </a>


                <a href=# class="page-btn">
                    <img class="next-pg" src="~/Images/polygon-1-copy-5.png"
                         alt="next  page">
                </a>




            </div>
        </div>
    </div>


    <div class="footer">
        ©2018 Helperland. All rights reserved.
    </div>
</div>





<!--script>
    function sortSRTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("AdminSRTable");
        switching = true;
        dir = "asc";
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchcount++;
            } else {
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script-->