<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Helperland</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
    
    @RenderBody()
    
    <footer>
        <div class="container d-flex justify-content-between align-items-center foot_menu">
            <img class="footer-logo" src="~/Images/footer-logo.png" alt="" />
            <div class="d-flex flex-wrap text-center justify-content-center foot_menulink">
                <a class="px-3" asp-action="Index" asp-controller="Home">HOME</a>
                <a class="px-3" asp-action="About" asp-controller="Home">ABOUT</a>
                <a class="px-3">TESTIMONIALS</a>
                <a class="px-3" asp-action="Faq" asp-controller="Home">FAQS</a>
                <a class="px-3">INSURANCE POLICY</a>
                <a class="px-3">IMPRESSUM</a>
            </div>
            <div class="icons">
                <a href="#"><img class="img-fluid fimg1" src="~/Images/ic-facebook.png" /></a>
                <a href="#"><img class="img-fluid fimg2" src="~/Images/ic-instagram.png" /></a>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center text-center" style="margin-top:10px">
            <hr style="border-bottom: 1px solid grey; width: 88%" />
        </div>

        <pre class="text-center term_c">©2018 Helperland. All rights reserved.  <a href="#">Terms and Conditions</a>  |   <a href="#">Privacy Policy</a></pre>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
