@model Helperland.ViewModels.ForgetPassword

@{

    ViewData["Title"] = "forgotpassword";

}


<link rel="stylesheet" href="~/css/forgetpass.css">

<script src="https://code.jquery.com/jquery-3.6.0.js" defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" defer></script>

<div class="modal fade" id="fgpass-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fgpass-title">Forgot Password</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="UserManage" asp-action="ForgotPassword" id="fgform">
                    <div class="input-group fgpass-mail">
                        <input type="email" class="form-control" placeholder="E-mail Address" asp-for="Email" name="Email">
                    </div>
                    <div class="fgpass-btn">
                        <button class="btn rounded-pill" type="submit">Send</button>
                    </div>
                    <div class="fg-login">
                        <a href="#login-modal" data-bs-toggle="modal" data-bs-dismiss="modal">Log In Now</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {

        $("#fgform").validate({

            rules: {

                Email: {
                    required: true,
                    email: true
                }
            },

            messages: {

                Email: "Please enter a valid email address"
            },

            submitHandler: function (form) {
                form.submit();
            }
        });
    });


</script>