@model Helperland.ViewModels.Login

@{

    ViewData["Title"] = "Login";

}


<link rel="stylesheet" href="~/css/Login.css">


<script src="https://code.jquery.com/jquery-3.6.0.js" defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" defer></script>


<div class="modal fade" id="login-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title login-title">Log In</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="UserManage" asp-action="Login" name="Login" id="loginform">
                    <div class="input-group login-mail">
                        <input type="email" class="form-control" placeholder="E-mail"
                               asp-for="Email" name="Email">

                    </div>

                    <div class="input-group login-pass">
                        <input type="password" class="form-control" placeholder="Password"
                               asp-for="Password" name="Password">

                    </div>

                    <div class="form-check rem-me">
                        <input class="form-check-input" type="checkbox" value="" id="login-remember" asp-for="Remember" checked>
                        <label class="form-check-label" for="login-remember">
                            Remember Me
                        </label>
                    </div>
                    <div class="login-btn">
                        <button class="btn rounded-pill" type="submit">Log In</button>
                    </div>
                </form>
            </div>
            <div class="forgot-pass">
                <a class="forgot-pass-link" type="button" data-bs-toggle="modal" data-bs-target="#fgpass-modal" data-bs-dismiss="modal" href="#fgpass-modal">Forgot Password?</a>
            </div>
            <div class="create-acc">
                <span>
                    Don't have an account?
                </span>
                <a type="button" class="create-acc-link" asp-action="Signup" asp-controller="UserManage">
                    Create an account
                </a>
            </div>

        </div>
    </div>
</div>

<script>

    $(function () {

        $("#loginform").validate({

            rules: {

                Email: {
                    required: true,
                    email: true
                },
                Password: {
                    required: true,
                    minlength: 5
                }
            },

            messages: {

                Password: {
                    required: "Please provide a password",
                    minlength: "Incorrect Password"
                },
                Email: "Please enter a valid email address"
            },

            submitHandler: function (form) {
                form.submit();
            }
        });
    });

</script>


