<div class="col-lg-7 col-md-10 BlockCust right-container"  style="display: none;">

    <div class="row" id="customerGrid">
        

    </div>

    <div class="page-control" style="display: none;">
        <div class="page-control-left">
            <p>Show</p>
            <select name="entries" id="entries">
                <option value="5000">ALL</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <p>entries</p>
            <p>Total Records: <span>55</span></p>
        </div>

        <div class="page-control-right" id="pg-right">

            <a href=# class="page-btn"><img src="~/Images/first-page.png" alt="first page"></a>


            <a href=# class="page-btn"><img src="~/Images/polygon-1-copy-5.png" alt="previous page"></a>


            <a href=# class="page-btn page-no active-2">
                <p>1</p>
            </a>


            <a href=# class="page-btn page-no">
                <p>2</p>
            </a>


            <a href=# class="page-btn">
                <img src="~/Images/polygon-1-copy-5.png" alt="next  page"
                     style="transform: rotate(180deg);">
            </a>


            <a href=# class="page-btn">
                <img src="~/Images/first-page.png" alt="last page"
                     style="transform: rotate(180deg);">
            </a>



        </div>

    </div>

</div>