<div class="col-lg-7 col-md-10 ScheduleContainer right-container" style="display: none;">

    <div id="ServiceSchedule" class="tab-contant">

        <div class="ScheduleServiceLabels" style="display:inline-flex;margin-bottom:50px;">
            <div class="ScheduleLabel" style="margin-right:10px;">
                <div class="GreenLabel text-center justify-content-center" style="background-color: #146371;width:100px;height:30px;"><span style="color:white;margin:auto;">Upcoming</span></div>
            </div>
            <div class="ScheduleLabel">
                <div class="GrayLabel text-center justify-content-center" style="background-color: #555; width: 100px; height: 30px; "><span style="color: white; margin: auto;">Completed</span></div>
            </div>
        </div>

        <div id='calendar'></div>

    </div>

</div>