<div class="col-lg-7 col-md-10 UpcomingServiceContainer right-container" style="display: none;">
    <table class="UpcomingServiceTable" id="UpcomingServiceTable">
        <thead>
            <tr>
                <th class="col-md-1" onclick="sortUSTable(0)" style="cursor: pointer;">
                    Service ID
                </th>
                <th class="col-md-2" onclick="sortUSTable(1)" style="cursor: pointer;">
                    Service Date
                </th>
                <th class="col-md-2 customer-detail" style="cursor: pointer;">
                    Customer details
                </th>
                <th class="col-md-1" onclick="sortUSTable(2)" style="cursor: pointer;">
                    Distance
                </th>
                <th class="col-md-1">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody id="UpcomingServiceTbody">
            <tr>
                <td data-label="Service ID" class="US-ServId">
                    323436
                </td>
                <td data-label="Service Date" class="US-ServDate">
                    <p>
                        <img src="~/Images/calendar2.png"> <span class="service-date">09/04/2018</span>
                    </p>
                    <p>
                        <img src="~/Images/layer-14.png">16:00 - 20:00
                    </p>
                </td>
                <td class="US-CustDetail" data-label="Customer details">
                    <p>
                        David Bough
                    </p>
                    <p>
                        <img src="~/Images/layer-15.png"><span class="detailContent2">
                            Musterstrabe 5,12345
                            Bonn
                        </span>
                    </p>
                </td>
                <td data-label="Distance" class="US-Dist">
                    15 km
                </td>
                <td class="usTableCancelbtn">
                    <button class="rounded-pill cancel-button">Cancel</button>
                </td>
            </tr>


            <tr>
                <td data-label="Service ID" class="US-ServId">
                    323425
                </td>
                <td data-label="Service Date" class="US-ServDate">
                    <p>
                        <img src="~/Images/calendar2.png"> <span class="service-date">09/04/2018</span>
                    </p>
                    <p>
                        <img src="~/Images/layer-14.png">16:00 - 20:00
                    </p>
                </td>
                <td class="US-CustDetail" data-label="Customer details">
                    <p>
                        David Bough
                    </p>
                    <p>
                        <img src="~/Images/layer-15.png"><span class="detailContent2">
                            Musterstrabe 5,12345
                            Bonn
                        </span>
                    </p>
                </td>
                <td data-label="Distance" class="US-Dist">
                    15 km
                </td>
                <td class="usTableCancelbtn">
                    <button class="rounded-pill cancel-button">Cancel</button>
                </td>
            </tr>


            <tr>
                <td data-label="Service ID" class="US-ServId">
                    323431
                </td>
                <td data-label="Service Date" class="US-ServDate">
                    <p>
                        <img src="~/Images/calendar2.png"> <span class="service-date">09/04/2018</span>
                    </p>
                    <p>
                        <img src="~/Images/layer-14.png">16:00 - 20:00
                    </p>
                </td>
                <td class="US-CustDetail" data-label="Customer details">
                    <p>
                        David Bough
                    </p>
                    <p>
                        <img src="~/Images/layer-15.png"><span class="detailContent2">
                            Musterstrabe 5,12345
                            Bonn
                        </span>
                    </p>
                </td>
                <td data-label="Distance" class="US-Dist">
                    15 km
                </td>
                <td class="usTableCancelbtn">
                    <button class="rounded-pill cancel-button" type="button" id="CancelServRequestBtn">Cancel</button>
                </td>
            </tr>




        </tbody>
    </table>
</div>
