@{
    ViewData["Title"] = "Provider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="~/css/Upcoming_services.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="~/js/providerpg.js"></script>


    <title>Upcoming Services</title>


</head>

<body>


    <!--Navigation Bar-->
    <nav class="navbar  navbar-expand-lg">
        <div class="container-fluid navbar_div">
            <a class="navbar-brand" href="homepage.html">
                <img src="~/Images/logo-small.png" alt="Helperland">
            </a>

            <div class="d-block d-lg-none ms-auto d-inline-flex">
                <a class="response-icon" href="#"><img src="~/Images/icon-notification.png" alt="notify-bell"></a>
                <ul class="dropdown dropdown-s">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img class="user-icon-1" src="~/Images/admin-user.png" alt="user-icon">
                        <img src="~/Images/sp-arrow-down.png" alt="down-arrow">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item">Warm Welcome,<br><span class="user-name"> @TempData["UserName"]</span></li>
                        <div class="dropdown-divider"></div>
                        <li>
                            <a class="dropdown-item" href="#">
                                To Overview
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" onclick="MySetting()">
                                My Settings
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-action="Logout" asp-controller="UserManage">
                                Log Out
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>



            <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation" style="font-size:20px;outline: none !important;box-shadow: none;">
                <span class="navbar-toggler-icon">
                    <i class="fas fa-bars"></i>
                </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-end">

                    <li class="nav-item nav-options"><a class="nav-link" asp-action="Prices" asp-controller="Home">Prices & Services</a></li>
                    <li class="nav-item nav-options"><a class="nav-link" href="#">Warranty</a></li>
                    <li class="nav-item nav-options"><a class="nav-link" href="#">Blog</a></li>
                    <li class="nav-item nav-options"><a class="nav-link" asp-action="Contact" asp-controller="Home">Contanct us</a></li>

                    <div class="vl-1 d-none d-lg-block"></div>
                    <a class="notify d-none d-lg-block" href="#">
                        <img src="~/Images/icon-notification.png"
                             alt="notify-bell">
                    </a>
                    <div class="vl-2 d-none d-lg-block"></div>

                    <li class="nav-item dropdown d-none d-lg-block dropdown-l">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="user-icon" src="~/Images/admin-user.png" alt="user-icon">
                            <img src="~/Images/sp-arrow-down.png" alt="down-arrow">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item">Warm Welcome,<br><span class="user-name"> @TempData["UserName"]</span></li>
                            <div class="dropdown-divider"></div>
                            <li>
                                <a class="dropdown-item" href="#">
                                    To Overview
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" onclick="MySetting()" style="cursor: pointer;">
                                    My Settings
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-action="Logout" asp-controller="UserManage">
                                    Log Out
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="d-block d-lg-none nav-divider">
                        <hr>
                    </li>

                    <li class="nav-item nav-options d-block d-lg-none">
                        <button class="nav-btn" href="#">
                            Dashboard
                        </button>
                    </li>
                    <li class="nav-item nav-options d-block d-lg-none">
                        <button class="nav-btn" onclick="TabNSNav()">
                            New Service Requests
                        </button>
                    </li>
                    <li class="nav-item nav-options d-block d-lg-none">
                        <button class="nav-btn" onclick="TabUSNav()">
                            Upcoming Services
                        </button>
                    </li>
                    <li class="nav-item nav-options d-block d-lg-none">
                        <button class="nav-btn" href="#">
                            Service Schedule
                        </button>
                    </li>
                    <li class="nav-item nav-options d-block d-lg-none">
                        <button class="nav-btn" onclick="TabSHNav()">
                            Service History
                        </button>
                    </li>
                    <li class="nav-item nav-options d-block d-lg-none">
                        <button class="nav-btn" href="#">
                            My Ratings
                        </button>
                    </li>
                    <li class="nav-item nav-options d-block d-lg-none">
                        <button class="nav-btn" onclick="TabBCNav()">
                            Block Customer
                        </button>
                    </li>
                    <li class="nav-item nav-options d-block d-lg-none">
                        <button class="nav-btn" href="#">
                            Invoices
                        </button>
                    </li>
                    <li class="nav-item nav-options d-block d-lg-none">
                        <button class="nav-btn" href="#">
                            Notifications
                        </button>
                    </li>


                </ul>
            </div>
        </div>
    </nav>




    <!--Greeting Header-->
    <section class="container-fluid d-flex justify-content-center greet-header">
        <h2>Welcome,<span class="greet_user"> @TempData["UserName"]</span></h2>
    </section>




    <!--Content-->
    <div class="row  service-content justify-content-center">

        <div class="col-md-2   service-sidebar d-none d-lg-block" id="service-sidebar">
            <button class="sidebar-list container-fluid" id="DashboardTab">
                Dashboard
            </button>
            <button class="sidebar-list  container-fluid active" id="NewServReqTab" onclick="TabNSClick()">
                New Service Requests
            </button>
            <button class="sidebar-list  container-fluid" id="UpcomingServTab" onclick="TabUSClick()">
                Upcoming Services
            </button>
            <button class="sidebar-list  container-fluid" href="#">
                Service Schedule
            </button>
            <button class="sidebar-list  container-fluid" id="ServHistoryTab" onclick="TabSHClick()">
                Service History
            </button>
            <button class="sidebar-list  container-fluid" href="#">
                My Ratings
            </button>
            <button class="sidebar-list  container-fluid" id="BlockCustTab" onclick="TabBCClick()">
                Block Customer
            </button>
            <button class="sidebar-list  container-fluid" href="#">
                Invoices
            </button>
            <button class="sidebar-list  container-fluid" href="#">
                Notifications
            </button>

        </div>


        @await Html.PartialAsync("ProviderUpcomingServ")

        @await Html.PartialAsync("ProviderServiceReq")

        @await Html.PartialAsync("ProviderServiceHistory")

        @await Html.PartialAsync("ProviderBlockCustomer")

        @await Html.PartialAsync("ProviderSetting") 

    </div> 


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</body>

</html>