<div class="col-lg-7 col-md-10 RatingContainer right-container" style="display: none;"> 

    <div id="MyRating" class="tab-contant">
        <div id="RatingList">


        </div>
    </div>

</div>
